<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="file" fileName="c:/logs/log4j/log.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="file2" fileName="c:/logs/log2.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="file" level="DEBUG"/>
            <AppenderRef ref="stdout" level="INFO"/>
        </Root>
        <Logger name="lesson_15_16.Test" level="DEBUG">
            <AppenderRef ref="file2" level="DEBUG"/>
            <AppenderRef ref="stdout" level="DEBUG"/>
        </Logger>
    </Loggers>
</Configuration>